@import url("https://api.fontshare.com/v2/css?f[]=comico@400&display=swap");
@import "tailwindcss";

:root {
  --page-bg: #f9f9f9;
  --ink: #111111;
  --desina: #e33b2b;
}

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    var(--font-geist-mono), ui-monospace, "SFMono-Regular", Menlo, Monaco,
    Consolas, monospace;
  --font-display: "Comico", cursive, ui-sans-serif, system-ui, sans-serif;
  --color-desina: #e33b2b;
  --color-paper: #f9f9f9;
  --color-ink: #111111;
}

body {
  background-color: var(--page-bg);
  color: var(--ink);
}
